@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300..700&display=swap");

body{
  background-color: var(--background-color);
}
.icons1 {
  margin-top: -35px;
    float: right;
    width: 1CM;
    height: 1cm;
}
.edit {

    letter-spacing: 0.1cm;
    color: var(--secondary-color);
  font-weight:bold;
  font-size: 30PX;
float: right;
  margin-top: 210px;
  margin-right: 90px;
}
.circle{
    width: 90px;
    height: 90px;
     margin-top: 20px;
    margin-left: 80px;
    position: absolute;
   background: transparent;
   border: 2px solid rgba(184, 61, 61, 0.5);
  border-radius: 50%;
  padding: 1px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .6) ;
overflow: hidden;
transform: translate(-5%,-5%);
}
.circle img {
  width: 100%;
  transition: .5s;
}
.circle .username {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  transition: .5s;
}
.circle:hover .username {
bottom: -68%;
}

.icons3{
  margin-top: 190px;
  margin-left: 90px;
}
.icons4 {
  margin-top: 70px;
  margin-left: 90px;
}
.save {

  letter-spacing: 0.1cm;
  color:var(--secondary-color);
font-weight:bold;
font-size: 30px;
float: right;
margin-top: 95px;
margin-right: 100px;
}
.icons5 {
  margin-left: 90px;
  margin-top: 78px;
}
.jaime {
 
  letter-spacing: 0.1cm;
  color: var(--secondary-color);
font-weight:bold;
float: right;
margin-top: 105px;
margin-right: 55px;
font-size: 30px;
}
.icons6 {
  margin-left: 90px;
  margin-top: 78px;
}
.add {
  
  letter-spacing: 0.1cm;
  color: var(--secondary-color);
font-weight:bold;
float: right;
margin-top: 100px;
margin-right: 110px;
font-size: 30px;
}
.icons7 {
  margin-left: 90px;
  margin-top: 78px;
}
.list {
  
  letter-spacing: 0.1cm;
  color: var(--secondary-color);
font-weight:bold;
float: right;
margin-top: 100px;
margin-right: 95px;
font-size: 30px;
}
.icons8 {
  margin-left: 90px;
  margin-top: 78px;
}
.best {
  
  letter-spacing: 0.1cm;
  color:var(--secondary-color);
font-weight:bold;
float: right;
margin-top: 90px;
margin-right: 75px;
font-size: 30px;
}

.icons3{
  background-color: transparent;
  border: 0.2rem solid #9e4205a4;
font-size: 2rem;
border-radius: 50%;
transition: 0.3s;
color:white;
width: 4rem;
      height: 4rem;
}
.icons3:hover{
color: #ff660022;
transform: scale(1.3) translate(-5px);
background-color: #ff660053;
box-shadow: 0 0 25px #efefef7e;
}
.icons4{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0.2rem solid #9e4205a4;
font-size: 2rem;
border-radius: 50%;
transition: 0.3s;
color:white;
width: 4rem;
      height: 4rem;
}
.icons4:hover{
  color: #ff660022;
  transform: scale(1.3) translate(-5px);
  background-color: #ff660053;
  box-shadow: 0 0 25px #efefef7e;
  }
  .icons5{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid #9e4205a4;
  font-size: 2rem;
  border-radius: 50%;
  transition: 0.3s;
  color:white;
  width: 4rem;
      height: 4rem;
  }
  .icons5:hover{
    color: #ff660022;
    transform: scale(1.3) translate(-5px);
    background-color: #ff660053;
    box-shadow: 0 0 25px #efefef7e;
    }
    .icons6{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0.2rem solid #9e4205a4;
    font-size: 2rem;
    border-radius: 50%;
    transition: 0.3s;
    color:white;
    width: 4rem;
      height: 4rem;
    }
    .icons6:hover{
      color: #ff660022;
      transform: scale(1.3) translate(-5px);
      background-color: #ff660053;
      box-shadow: 0 0 25px #efefef7e;
      }
      .icons7{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0.2rem solid #9e4205a4;
      font-size: 2rem;
      border-radius: 50%;
      transition: 0.3s ;
      color:white;
      width: 4rem;
      height: 4rem;
      }
      .icons7:hover{
        color: #ff660022;
        transform: scale(1.3) translate(-5px);
        background-color: #ff660053;
        box-shadow: 0 0 25px #efefef7e;
        }
        .icons8{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: 0.2rem solid #9e4205a4;
        font-size: 2rem;
        border-radius: 50%;
        transition: 0.3s;
        color:white;
        }
        .icons8:hover{
          color: #ff660022;
          transform: scale(1.3) translate(-5px);
          background-color: #ff660053;
          box-shadow: 0 0 25px #efefef7e;
          }

       
    
        .edit{
          cursor: pointer;

        }
.edit:hover{
  text-decoration-line: underline;
text-decoration-color: var(--secondary-color);
}
      
.save{
  cursor: pointer;
}
.save:hover{
   text-decoration-line: underline;
text-decoration-color: var(--secondary-color);
}
.jaime{
  cursor: pointer;
}
.jaime:hover{
   text-decoration-line: underline;
text-decoration-color: var(--secondary-color);
}
.add{
  cursor: pointer;
}
.add:hover{
    text-decoration-line: underline;
text-decoration-color: var(--secondary-color);
}

.list{
  cursor: pointer;
}
.list:hover{
    text-decoration-line: underline;
text-decoration-color: var(--secondary-color);
}
.best{
  cursor: pointer;
}
.best:hover{  text-decoration-line: underline;
text-decoration-color: var(--secondary-color);}
.oll{
  background-color:var(--primary-color);
border: solid 3px var( --secondary-color);
margin-top: 10px;
margin-bottom: 20px;
margin-left: 25%;
width: 50%;
height: fit-content;
 box-shadow: 0px 10px 20px rgb(0, 0, 0) ;
}
/* dark mode*/
#icon{
  width: 30px;
  cursor: pointer;
}
:root{
  --primary-color:  #fff;
  --secondary-color: #ff6500;
  --background-color: rgba(233, 238, 238, 0.644);
  --texyte-color: #000000;
}
.dark-theme{
  --primary-color:  #000000;
  --secondary-color: #2c1201;
  --background-color: rgba(19, 20, 20, 0.993);
 --texyte-color: #ffffff;
  
}
/*berre de traduction*/
select{
  background-color: var(--secondary-color);
  color: var(--texyte-color);
width: 70px;
margin-top: 05px;
border: solid 2px #9e4205a4;
border-radius: 5px;
margin-left: 5px;
text-align: center;
}
