<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css')}}">
  <title>Document</title>
</head>

<body>
  <!--nav-->
  <nav>
    <div class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#about">About-us</a></li>
      <li><a href="#category">Category </a></li>
      <li><a href="#world-cuisine">World Cuisine</a></li>
      <li><a href="">Contact us</a></li>

    </ul>
    <a class="Profile" href="">Profile</a>
  </nav>
  <!--end nav-->
  <!-- header -->
  <header>
    <div class="about" id="about">
      <h1>About-us</h1>
      <p>
        Welcome to our web site! <br /><span>We are passionate about sharing delicious recipes and culinary
          inspiration from <br />around the world. Join us on this flavorful
          journey!</span>
      </p>
      <div class="btn">
        <form action="">
          <a href="{{ url_for('add_recipe_form') }}"> <button type="button">Your recipes</button></a>
        </form>
      </div>
      <div class="search">
        <form action="">
          <input type="text" placeholder="Search for recipes" />
          <button type="submit">Search</button>
        </form>
      </div>
    </div>
  </header>
  <!--end header -->
  <!-- main -->
  <main>
    <!--category-->
    <div class="category" id="category">
      <h1>Category</h1>
      <p>Explore our diverse range of recipes</p>
      <div class="items">
        <div class="items-left">
          <div class="item">
            <a href=""><img src="{{ url_for('static', filename='img/home/food1.jpg') }}" alt="" /><span>Lunch</span></a>
          </div>

          <div class="item2">
            <a href=""><img src="{{ url_for('static', filename='img/home/food2.jpg') }}" alt="" /><span>Quick & Easy
                Recipes</span></a>
          </div>
        </div>

        <div class="items-center">
          <div class="item">
            <a href=""><img src="{{ url_for('static', filename='img/home/food3.jpg') }}" alt="" /><span>For
                GYM</span></a>
          </div>

          <div class="item2">
            <a href=""><img src="{{ url_for('static', filename='img/home/food4.jpg') }}"
                alt="" /><span>Desserts</span></a>
          </div>
        </div>

        <div class="items-right">
          <div class="item">
            <a href=""><img src="{{ url_for('static', filename='img/home/food5.jpg') }}"
                alt="" /><span>Vegetarian</span></a>
          </div>
          <div class="item2">
            <a href=""><img src="{{ url_for('static', filename='img/home/food6.jpg') }}" alt="" /><span>Jus</span></a>
          </div>
        </div>
      </div>
      <div class="more-categories">
        <a href="{{ url_for('categories') }}" class="view-more">View More Categories</a>
      </div>
    </div>
    <!--end category-->
    <!-- world cuisine -->
    <div class="world-cuisine-section" id="world-cuisine">
      <h1>World Cuisine</h1>
      <p class="idee">Embark on a culinary journey across the globe</p>
      <div class="world-cuisine-grid">
        <div class="cuisine-card">
          <a href="/country/Morocco">
            <img src="{{ url_for('static', filename='img/home/contri1.png') }}" alt="Moroccan Cuisine" />
            <div class="cuisine-info">
              <h3>Morocco</h3>
              <p>
                Dive into the rich spices and vibrant flavors of Moroccan cuisine.
              </p>
              <div class="learn-more">Learn More</div>
            </div>
          </a>

        </div>
        <div class="cuisine-card">
          <a href="/country/France">
            <img src="{{ url_for('static', filename='img/home/contri2.png') }}" alt="French Cuisine" />
            <div class="cuisine-info">
              <h3>France</h3>
              <p>
                Experience the art of fine dining with exquisite French recipes.
              </p>
              <div class="learn-more">Learn More</div>
            </div>
          </a>

        </div>
        <div class="cuisine-card">
          <a href="/country/Canada">
            <img src="{{ url_for('static', filename='img/home/contri3.png') }}" alt="Canadian Cuisine" />
            <div class="cuisine-info">
              <h3>Canada</h3>
              <p>
                Explore the comforting and diverse flavors of Canadian dishes.
              </p>
              <div class="learn-more">Learn More</div>
            </div>
          </a>
        </div>
      </div>
      <div class="more-world-cuisine">
        <a href="{{ url_for('world_cuisine') }}" class="view-more-cuisine">View More World Cuisine</a>
      </div>
    </div>
    <!--end world cuisine-->
  </main>
  <!--end main-->
  <!-- footer -->
  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
      </div>
      <div class="footer-section">
        <h2>Quick Links</h2>

        <a href="#about">About Us</a>
        <a href="#category">Categories</a>
        <a href="#world-cuisine">World Cuisine</a>
        <a href="">Contact Us</a>

      </div>
      <div class="footer-section">
        <h2>Connect With Us</h2>

        <a href="#" class="social-icon">Facebook</a>
        <a href="#" class="social-icon">Instagram</a>
        <a href="#" class="social-icon">Youtube</a>
        <a href="#" class="social-icon">Pinterest</a>

      </div>
    </div>
    <div class="ligne"></div>
    <div class="footer-bottom">
      <p>&copy; 2025 site. All Rights Reserved.</p>
    </div>
         
  </footer>
  <!--end footer-->
</body>

</html>