<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="A.CSS">
</head>
<body>  <select id="language-selector">
    <option value="ar">العربية</option>
    <option value="en">English</option>
</select>
    <div class="oll">
         <!--dark mode-->
         <div class="darkmode">
            <img class="light" src="{{ url_for('static', filename='img/profil/moon.png') }}" id="icon">
   <div>
   <img class="icons1" src="{{ url_for('static', filename='img/profil/icons.png') }}" >
</div>
<b class="edit" data-lang="EditProfile">Edit profile</b>
<div class="circle">
     <img src="{{ url_for('static', filename='img/profil/icons2.png') }}">
<div class="username">
    <p data-lang="userName">user name</p>          
</div></div>
<div>
  <img  class="icons3" src="{{ url_for('static', filename='img/profil/icons3.png') }}">
</div>
<div>
  <img class="icons4" src="{{ url_for('static', filename='img/profil/icons4.png') }}"> 
  <b class="save"data-lang="SavedRecipes">Saved recipes</b>  
</div>
<div>
    <img class="icons5" src="{{ url_for('static', filename='img/profil/icons5.png') }}">
    <b class="jaime" data-lang="FavoriteRecipes">Favorite recipes</b>
</div>
<div>
    <img class="icons6" src="{{ url_for('static', filename='img/profil/icons6.png') }}">
    <b class="add" data-lang="AddARecipe">Add a recipe</b>
</div>
<div>
    <img class="icons7" src="{{ url_for('static', filename='img/profil/icons7.png') }}">
    <b class="list" data-lang="MyRecipeList">My recipe list</b>
</div>
<div>
    <img class="icons8" src="{{ url_for('static', filename='img/profil/icons8.png') }}">
    <b class="best" data-lang="MyBestRecipes">My best recipes</b>
</div></div>


      <script src="{{ url_for('static', filename='js/profil.js') }}"></script>

   
</body>
</html>