<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>World Cuisine</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/world.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
  <!--nav-->
  <nav>
    <div class="logo">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" />
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/#about">About-us</a></li>
      <li><a href="/#category">Category </a></li>
      <li><a href="/#world-cuisine">World Cuisine</a></li>
      <li><a href="">Contact us</a></li>

    </ul>
    <a class="Profile" href="#">Profile</a>
  </nav>
  <!--end nav-->
  <div class="world-cuisine-section" id="world-cuisine">
    <h1>World Cuisine</h1>
    <p class="idee">Little bites, big world—taste the magic of every culture!</p>
    <div class="world-cuisine-grid">

      <!--maroc-->

      <div class="cuisine-card">
        <a href="/country/Morocco">
          <img src="{{ url_for('static', filename='img/world/Morocco flag.jpeg') }}" alt="Moroccan Cuisine" />
          <div class="cuisine-info">
            <h3>Morocco</h3>
            <p>
              Dive into the rich spices and vibrant flavors of Moroccan cuisine.
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--france-->

      <div class="cuisine-card">
        <a href="/country/France">
          <img src="{{ url_for('static', filename='img/world/France flag.jpeg') }}" alt="French Cuisine" />
          <div class="cuisine-info">
            <h3>France</h3>
            <p>
              Experience the art of fine dining with exquisite French recipes.
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--canada-->

      <div class="cuisine-card">
        <a href="/country/Canada">
          <img src="{{ url_for('static', filename='img/world/canada flag.jpeg') }}" alt="Canadian Cuisine" />
          <div class="cuisine-info">
            <h3>Canada</h3>
            <p>
              Explore the comforting and diverse flavors of Canadian dishes.
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--korea-->

      <div class="cuisine-card">
        <a href="/country/Korea">
          <img src="{{ url_for('static', filename='img/world/korea flag.jpeg') }}" alt="korean Cuisine" />
          <div class="cuisine-info">
            <h3>korea</h3>
            <p>
              Korean food is spicy, flavorful and rich in tradition
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

    </div>
  </div>

  <!--italy-->

  <div class="world-cuisine-section" id="world-cuisine">
    <div class="world-cuisine-grid">
      <div class="cuisine-card">
        <a href="/country/Italy">
          <img src="{{ url_for('static', filename='img/world/Italy flag.jpeg') }}" alt="italy Cuisine" />
          <div class="cuisine-info">
            <h3>Italy</h3>
            <p>
              Experience the rich and timeless flavors of
              <br>Italian cuisine.
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--japon-->

      <div class="cuisine-card">
        <a href="/country/Japon">
          <img src="{{ url_for('static', filename='img/world/japon flag.jpeg') }}" alt="japon Cuisine" />
          <div class="cuisine-info">
            <h3>Japon</h3>
            <p>
              Discover the delicate and artful flavors of
              <br>Japanese cuisine.
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--brazil-->
      <div class="cuisine-card">
        <a href="/country/Brazil">
          <img src="{{ url_for('static', filename='img/world/brazil flag.jpeg') }}" alt="japon Cuisine" />
          <div class="cuisine-info">
            <h3>Brazil</h3>
            <p>
              Savor the vibrant and hearty flavors of
              <br>Brazilian cuisine
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>

      <!--bilguim-->
      <div class="cuisine-card">
        <a href="/country/Belgium">
          <img src="{{ url_for('static', filename='img/world/belgium flag.jpeg') }}" alt="belgium Cuisine" />
          <div class="cuisine-info">
            <h3>belgium</h3>
            <p>Savor the vibrant and hearty flavors of
              <br>Belgian cuisine
            </p>
            <div class="recipes">Recipes</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- footer -->
   <div class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo"/>
      </div>
      <div class="footer-section">
        <h2>Quick Links</h2>
        
          <a href="#about">About Us</a>
          <a href="#category">Categories</a>
          <a href="#world-cuisine">World Cuisine</a>
          <a href="">Contact Us</a>
        
      </div>
      <div class="footer-section">
        <h2>Connect With Us</h2>
        
          <a href="#" class="social-icon">Facebook</a>
          <a href="#" class="social-icon">Instagram</a>
          <a href="#" class="social-icon">Youtube</a>
          <a href="#" class="social-icon">Pinterest</a>
        
      </div>
    </div>
    <div class="ligne"></div>
    <div class="footer-bottom">
      <p>&copy; 2025 site. All Rights Reserved.</p>
    </div>
         
  </div>
  <!--end footer-->

</body>

</html>